<p id="notice"><%= notice %></p>
<table>
<th>
  <strong>Color:</strong>
</th>
  <%= @car.color %>


<th>
  <strong>Hp:</strong>
</th>
  <%= @car.hp %>


<th>
  <strong>Model:</strong>
</th>
  <%= @car.model %>

<table>
<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
